$background-color_1: white;

.nav-bar {
  display: flex;
  align-items: center;
  padding: 20px;
  top: 0;
  min-height: 70px;
  background-color: $background-color_1;
  width: 100%;
  height: fit-content;
  .logo {
    padding: 0 100px;
  }
  img {
    padding: 15px;
    position: fixed;
    top: 20px;
    left: 40px;
    width: auto;
    max-width: 200px;
    cursor: pointer;
  }
  .menu-icon {
    position: fixed;
    padding: 15px;
    top: 20px;
    right: 40px;
    height: 40px;
    max-height: fit-content;
    cursor: pointer;
  }
}
